/* Background */
.app-background {
  height: 100vh;
  width: 100vw;
  background: #0f3c4c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Arial, sans-serif;
  padding: 20px;
}

/* Form container */
.form-box {
  background: #0b2a35;
  padding: 30px 40px;
  border: 2px solid #ddd;
  border-radius: 8px;
  width: 100%;
  max-width: 550px;
  color: #eee;
}

/* Title */
.form-title {
  text-align: center;
  color: #fff;
  margin-bottom: 5px;
}

.form-subtitle {
  text-align: center;
  font-size: 13px;
  margin-bottom: 20px;
  color: #cfcfcf;
}

/* Form rows */
.form-row {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
}

input,
select,
textarea {
  padding: 8px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  background: #133949;
  color: #fff;
  width: 535px;
}

textarea {
  min-height: 70px;
  resize: vertical;
}

.error {
  font-size: 12px;
  color: #ff6b6b;
  margin-top: 4px;
}

/* Buttons */
.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.submit-btn,
.reset-btn {
  padding: 8px 20px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.submit-btn {
  background: #1bce24;
  color: #fff;
}

.reset-btn {
  background: #999;
  color: #fff;
}

.submit-btn:hover {
  background: #1bce24;
}

.reset-btn:hover {
  background: #777;
}

/* Floating icons for admin */
.admin-icons {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 1000;
}

.icon-btn {
  font-size: 24px;
  color: white;
  background: #1bce24;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.icon-btn:hover {
  background: #1bce24;
}


.form-logo {
  text-align: left;
  /* margin-bottom: 15px; */
  margin-top: 0px;
}

.form-logo img {
  max-width: 272px; /* adjust size */
  height: auto;
}
